
    html {
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        background-color: #F1F1F1;
    }

    h4 {
        margin: 0;
    }

    .imglogo {
        height: auto;
        width: 100%;
    }

    .descendo{
        position: absolute;
    left: 39%;
    right: 39%;
    bottom: 40px;
    }

    .alinhando {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
