@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");


h4 {
    margin: 0;
}

.imglogo {
    height: auto;
    width: 100%;
}

.descendo {
    position: absolute;
    left: 39%;
    right: 39%;
    bottom: 40px;
}

.alinhando {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-mom {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-google {
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-facebook {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: #475993;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.icongoogle {
    display: flex;
}

.iconfacebook {
    display: flex;
}

.h4btn1 {
    margin-left: 10px;
}
.h4btn2 {
    margin-left: 10px;
    color: white;
}

.h4centro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.cadastropai {
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.inptcadastro {
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #edd4d2;
    height: 50px;
    text-align: center;
}

.inptcadastro::-webkit-input-placeholder {
    text-align: center;
}

.btnregistro {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: #bdddd0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.button-mom2 {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 70px;
}

.divarrow {
    margin-top: 10px;
    padding-left: 10px;
    width: 50px;
    margin-bottom: -40px;
}

.imgarrow {
    height: 35px;
}


.cima {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
}

.imglateral {
    height: 51px;
    width: 51px;
}

.imgcarrinho {
    width: 51px;
    height: 51px;
}

.divflex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}